<app-navbar></app-navbar>

<div class="home-container">
    <div class="main-content animate__animated animate__fadeInUp">
        <div class="main-content animate__animated animate__fadeInUp">
            <div class="thumb-container">
                <img src="../assets/thumb.png" alt="Profile image" class="thumb-image">
            </div>
        </div>

        <div class="text-container">
            <p> Simanga Website</p>
            <p>
                Hello! I'm Simanga Mchunu, a versatile tech professional with a passion for building robust, scalable solutions and leading high-performing teams. With a diverse skill set spanning full-stack development, data science, backend engineering, team leadership, and DevOps, I'm dedicated to driving technological advancement and delivering impactful results.
            </p>

        </div>
    </div>

</div>

<app-footer></app-footer>