<app-navbar></app-navbar>

<div class="home-container">
    <div class="main-content animate__animated animate__fadeInUp">
        <div class="main-content animate__animated animate__fadeInUp">
            <div class="thumb-container">
                <img src=".../assets/thumb.png" alt="Profile image" class="thumb-image">
            </div>
        </div>

        <div class="text-container">
            <p> Simanga Website</p>
            <p>
                Hello! I'm Simanga Mchunu, a versatile tech professional with a passion for building robust, scalable solutions and leading high-performing teams. With a diverse skill set spanning full-stack development, data science, backend engineering, team leadership, and DevOps, I'm dedicated to driving technological advancement and delivering impactful results.
            </p>

        </div>
    </div>

    <div>
        <div id="skills-section" class="skills-section animate_animated animate__fadeInUp">
            <p style="font-size: 25px; color: #106EBE;"> Projects</p>
        </div>
        <div class="card-container"> 
            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                    <p style="color: #106EBE;">Spaza-shop</p>

                </mat-card-header>
                <img mat-card-image src=".../assets/logo.png" alt="image">
                <mat-card-content>
                    <p>I was working for Backend and frontend to make this application works</p>
                </mat-card-content>
                <button>Know more...</button>
            </mat-card>

            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                    <p style="color: #106EBE;">freshly farm</p>

                </mat-card-header>
                <img mat-card-image src=".../assets/python.png" alt="image">
                <mat-card-content>
                    <p>I was working for Backend engineer team leader and DevOps engineer for fast and scalable application.</p>
                </mat-card-content>
                <button>Know more...</button>
            </mat-card>

            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                    <p style="color: #106EBE;">R data Science in Datathon</p>

                </mat-card-header>
                <img mat-card-image src=".../assets/R.png" alt="image">
                <mat-card-content>
                    <p>I was working as Data science, researcher, technical for Dirisa CSIR Datathon, we are currntely in the final challange.</p>
                </mat-card-content>
                <button>Know more...</button>
            </mat-card>

            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                    <p style="color: #106EBE;">freshly farm</p>

                </mat-card-header>
                <img mat-card-image src=".../assets/jenkins.png" alt="image">
                <mat-card-content>
                    <p>I was working DevOps for reshly farm, to scale and maintain the application.</p>
                </mat-card-content>
                <button>Know more...</button>
            </mat-card>

            


        </div>

    </div>

</div>

<app-footer></app-footer>