<app-navbar></app-navbar>

<div class="home-container">
    <div class="main-content animate__animated animate__fadeInUp">
        <div class="main-content animate__animated animate__fadeInUp">
            <div class="thumb-container">
                <img src="assets/so.png" alt="Profile image" class="thumb-image">
            </div>
        </div>

        <div class="text-container">
            <p style="color: #106EBE; font-size: 50px;"><strong>Welcome to Simanga's </strong> </p>
            <p style="color: #106EBE; font-size: 50px;"><strong>Professional Hub</strong> </p>
            <p>
                Hello! I'm Simanga Mchunu, a versatile tech professional with a passion for building robust, scalable solutions and leading high-performing teams. With a diverse skill set spanning full-stack development, data science, backend engineering, team leadership, and DevOps, I'm dedicated to driving technological advancement and delivering impactful results.
            </p>

        </div>
    </div>

    <div>
        <div id="skills-section" class="skills-section animate_animated animate__fadeInUp">
            <p style="font-size: 25px; color: #106EBE;"> Projects</p>
            <p style="font-size: 25px; color: #555;"> Innovative Full-Stack Developer | Expert Data Scientist | Proficient Backend Engineer | Dynamic Backend Team Leader | Skilled DevOps Specialist</p>
        </div>
        <div class="card-container"> 
            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                    <p style="color: #106EBE;">Spaza-shop</p>

                </mat-card-header>
                <img mat-card-image src="assets/django.png" alt="image">
                <mat-card-content>
                    <p>I was working as a Backend and frontend to make this application works</p>
                </mat-card-content>
                <a href="https://github.com/Simacoder/spaza_online" target="_blank">
                    <button mat-button color="primary">Know more...</button>
                </a>
            </mat-card>

            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                    <p style="color: #106EBE;">Freshly farm</p>

                </mat-card-header>
                <img mat-card-image src="assets/python.png" alt="image">
                <mat-card-content>
                    <p>I was working as a Backend engineer team leader and DevOps engineer for fast and scalable application.</p>
                </mat-card-content>
                <a href="https://github.com/Simacoder/ECO-AFRIQA1" target="_blank">
                    <button mat-button color="primary">Know more...</button>
                </a>
            </mat-card>

            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                    <p style="color: #106EBE;">Forest fire data analysis in R</p>

                </mat-card-header>
                <img mat-card-image src="assets/R2.png" alt="image">
                <mat-card-content>
                    <p>I was working as Data science, researcher, technical for Dirisa CSIR Datathon, we are currntely in the final challange.Using R and powerful data visualization techniques.</p>
                </mat-card-content>
                <a href="https://github.com/Simacoder/forest_fire" target="_blank">
                    <button mat-button color="primary">Know more...</button>
                </a>
            </mat-card>

            <mat-card class="example-card animate__animated animate__fadeInUp">
                <mat-card-header class="row align-items-center">
                    <p style="color: #106EBE;">Freshly farm</p>

                </mat-card-header>
                <img mat-card-image src="assets/jenkins.png" alt="image">
                <mat-card-content>
                    <p>I was working as a DevOps for Freshly farm, to scale and maintain the application.</p>
                </mat-card-content>
                <a href="https://github.com/Simacoder/ECO-AFRIQA1" target="_blank">
                    <button mat-button color="primary">Know more...</button>
                </a>
            </mat-card>

            


        </div>

    </div>

</div>

<app-footer></app-footer>